import * as S from './styles';

import { Props } from './types'

const {{pascalCase name}} = ({}: Props) => (
  <S.Container>
    <h1>{{pascalCase name}}</h1>
  </S.Container>
);

export default {{pascalCase name}}
